/* Example For Poppins Semi Bold 600 */

/* .poppins-semibold {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
  } */

  /* MONTSERRAT EXAMPLE FONTS */
  /* .montserrat {
    font-family: Montserrat, sans-serif;
    font-weight: 600;
    font-style: normal;
  } */

/* NAVBAR: DONE */
/* RESPONSIVE: Tommorow :D */

/* LANDING PAGE:  */
/* RESPONSIVE:  */

/* MAIN CONTNENT:  */
/* RESPONSIVE:  */

/* CARDS:  */
/* RESPONSIVE:  */

html, head, body {
  margin: 0;
  padding: 0;
}

* {
  margin: 0;
  padding: 0;
  font-family: Poppins, sans-serif;
  font-weight: 400px;
}



/* NAVBAR CONTENT */

.logo {
  transform: translateY(10px);
}

.title-nav {
  font-family: "Montserrat", serif;
  font-weight: 100px;
}

.title-nav {
  /* font-family: Montserrat, sans-serif;   */
  transform: translateY(-10px);
}

/* LOGO WHILE 700px */

.title-nav-700 {
  display: none;
}

nav {
  border-bottom: 1px solid #535780;
  overflow: auto;
  z-index: 2;
  position: fixed;
  width: 100%;
  height: 40px;
  color: rgb(238, 255, 239);
  background-color: #35374b;
  padding: 10px;
  padding-top: 20px;
  display: flex;
  justify-content: space-around;
}

.nav-gt {
  /* z-index: 3; */
  /* position: static; */
  display: flex;
  /* justify-content: space-between; */
  gap: 15px;
  transform: translateY(5px);
}

.nav-gt-ls {
  list-style: none;
}

ul li a {
  color: #7889a0;
  text-decoration: none;
  transition: 0.4s;
  font-size: 17px;
}

ul li a:hover {
  color: #bbbbbb;
}

.hamburger {
  border: none;
  color: #bbbbbb;
  width: 40px;
  height: 40px;
  font-size: 30px;
  transform: translateY(-5px);
  display: none;
  background-color: transparent;
  transition: 0.4s;
  cursor: pointer;
}

.hamburger:hover {
  color: white;
}

.hamburger-on-nav {
  font-size: 22px;
  border: none;
  color: #bbbbbb;
  width: 40px;
  height: 40px;
  /* font-size: 30px; */
  transform: translateY(-5px);
  /* display: none;  */
  background-color: transparent;
  transition: 0.4s;
  cursor: pointer;
}

.hamburger-on-nav:hover {
  color: white;
}





/* IMAGE BG HOMEPAGE */
/* .text-img {
  /* hello world */
/* }  */

.home-page .main-img-bg {
  width: 100%;
  height: 100vh;
  background-color: #35374B;
  /* padding: 20px; */
}

.main-img-bg {
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin: 20px; */
}

.button-main {
  color: rgb(255, 255, 255);
  position: relative;
  top: 10px;
  left: 70%;
  padding: 10px;
  background-color: rgb(81, 117, 114);
  text-decoration: none;
}

.text-img {
  margin: 20px;
  display: relative;
  color: rgb(255, 255, 255);
  font: 'Montserrat', sans-serif
}

.reactive-button {
  display: flex;
  width: 60%;
  align-items: center;
  justify-content: space-evenly;
}

.list-main {
  width: 60%;
  height: 30px;
  /* align-items: center; */
  display: flex;
  /* justify-content: space-around; */
}

.list-main a {
  color: white;
  margin: 20px;
  text-decoration: none;
}




/*  RESNPONSIVE */

/* NAVBAR RESNPONSIVE */



.nav-res-container {
  top: -100%
  transition: 0.4s;
  /* position: fixed;
  bottom: 20px; */
  display: none; 
  /* opacity: 0; */
  /* height: 0px; */
  justify-content: center;
}

.nav-res-container.show {
  display: block;
  /* opacity: 1; */
}

.nav-res-nav {
  border: none;
  width: 100% ;
  height: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #2a2c3d;
  border: none;
}

.nav-res-nav img {
  width: 20px;
  position: relative;
  bottom: 40px;
  position: block;
  justify-content: left;
}

.navigation-bar-res {
  list-style: none;
  padding: 10px;
}

.nav-res-li a {
  padding: 5px;
}


@media screen and (max-width: 420px) {
  /* nav {
    width: 100%;
  } */
  .main-img-bg {
    width: 100%;
  }
}

@media screen and (max-width: 700px) {
  .nav-gt {
    display: none;
  }
  .title-nav h2 {
    /* visibility: hidden; */
    display: none;
  }
  .hamburger {
    display: flex;
  }
  .title-nav-700 {
    display: flex;
    position: relative;
    top: -10px;
  }
}


/* @media screen and (min-width: 700px) {
  COMMAND
} */
