/* Example For Poppins Semi Bold 600 */

/* .poppins-semibold {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
  } */

  /* MONTSERRAT EXAMPLE FONTS */
  /* .montserrat {
    font-family: Montserrat, sans-serif;
    font-weight: 600;
    font-style: normal;
  } */

/* NAVBAR: DONE */
/* RESPONSIVE: Tommorow :D */

/* LANDING PAGE:  */
/* RESPONSIVE:  */

/* MAIN CONTNENT:  */
/* RESPONSIVE:  */

/* CARDS:  */
/* RESPONSIVE:  */

html, head, body {
  margin: 0;
  padding: 0;
}

html {
  width: 100%;
}

* {
  margin: 0;
  padding: 0;
  font-family: Poppins, sans-serif;
  font-weight: 400px;
}



/* NAVBAR CONTENT */

.logo {
  transform: translateY(10px);
}

.title-nav {
  font-family: 'Montserrat', sans-serif;
  font-weight: 100px;
  /* align-items: center; */
}

.title-nav {
  /* font-family: Montserrat, sans-serif;   */
  transform: translateY(-10px);
}
nav .title-nav.logo {
  display: flex;
  justify-content: left;
}
/* LOGO WHILE 700px */

nav {
  border-bottom: 1px solid gray;
  /* box-shadow: 4px 8px rgba(0, 0, 0, 0.1); */
  overflow: auto;
  z-index: 2;
  position: fixed;
  width: 100%;
  height: 40px;
  color: rgb(0, 0, 0);
  background-color: #ffffff; 
  padding: 10px;
  padding-top: 20px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.nav-gt {
  /* z-index: 3; */
  /* position: static; */
  display: flex;
  /* justify-content: space-between; */
  gap: 15px;
  transform: translateY(6px);
  /* align-items: center; */
}

.nav-gt-ls {
  list-style: none;
}

ul li a {
  color: #8999ac;
  text-decoration: none;
  transition: 0.4s;
  font-size: 18px;
}

ul li a:hover {
  color: #0f1410;
}

.hamburger {
  border: none;
  color: #282f29;
  width: 40px;
  height: 40px;
  font-size: 30px;
  transform: translateY(5px);
  display: none;
  background-color: transparent;
  transition: 0.4s;
  cursor: pointer;
}

.hamburger:hover {
  color: rgb(0, 0, 0);
}

.hamburger-on-nav {
  font-size: 22px;
  border: none;
  color: #3b473b;
  width: 40px;
  height: 40px;
  /* font-size: 30px; */
  transform: translateY(-5px);
  /* display: none;  */
  background-color: transparent;
  transition: 0.4s;
  cursor: pointer;
}

.hamburger-on-nav:hover {
  color: rgb(0, 0, 0);
}





/* IMAGE BG HOMEPAGE */
/* .text-img {
  /* hello world */
/* }  */

.home-page {
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  /* background-color: #35374B; */
  background-image: url(/Assets/background.jpg);
  z-index: 0;
  /* padding: 20px; */
}

.main-img-bg {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-position: center;

  /* filter: brightness(100%); */
  /* margin: 20px; */
}

.button-main {
  color: rgb(255, 255, 255);
  position: relative;
  top: 10px;
  left: 70%;
  padding: 10px;
  background-color: rgb(81, 117, 114);
  text-decoration: none;
}

.text-img {
  /* margin: 20px; */
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center; 
  color: rgb(255, 255, 255);
  font: 'Montserrat', sans-serif;
  text-align: center;
}


/* .reactive-button {
  display: none;
  width: 100%;
  /* align-items: center;
  justify-content: center; */
  /* justify-content: space-evenly; */
/* } */

/* .list-main {
  width: auto;
  /* height: 30px; */
  /* align-items: center; */
  /* display: flex; */
  /* flex-wrap: nowrap; */
  /* flex-direction: column; */
  /* justify-content: space-around; */
/* } */ 

/* PROGRAMS PAGE */

.programs-image-section img {
  width: 100%;
}

.programs {
  width: 100%;
  min-height: 100vh;
  height: auto;
  /* display: flex; */
}

.programs-text {
  width: 100%;
  display: flex;
  height: 50px;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.container {
  width: 100%;
  display: flex;
  /* text-align: center; */
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}

.cards-programs {
  /* display: flex; */
  /* justify-content: center; */
  /* padding: 10px; */
  cursor: pointer;
  margin: 5px; 
  width: 340px;
  height: auto;
  border: 1px solid gray;
  border-radius: 5px;
}

.programs-content-section {
  padding: 10px;
}

/* about page*/

.wrapper-ab {
  display: flex;
  flex-direction: none;
  justify-content: center;
  align-items: center;
}

.about {
  width: 100%;
  height: 100vh;
}

.title-about {
  width: 100%;
  text-align: center;
  /* margin: 20px; */
  margin-top: 20px;
  margin-bottom: 20px;
}

.about-pages {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  gap: 20px;
}

.text-about {
  width: 50%;
}

.image-about {
  width: 50%;
}

.image-about img  {
  width: 100%;
}


/*  RESNPONSIVE */

/* NAVBAR RESNPONSIVE */



.nav-res-container {
  top: -100%;
  transition: 0.4s;
  /* position: fixed;
  bottom: 20px; */
  display: none; 
  /* opacity: 0; */
  /* height: 0px; */
  justify-content: center;
}

.nav-res-container.show {
  display: block;
  /* opacity: 1; */
}

.nav-res-nav {
  border: none;
  width: 100% ;
  height: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #ffffff;
  border: none;
}

.nav-res-nav img {
  width: 20px;
  position: relative;
  bottom: 40px;
  position: block;
  justify-content: left;
}

.navigation-bar-res {
  list-style: none;
  text-align: center;
  padding: 10px;
}

.nav-res-li a {
  padding: 5px;
}



/* MAIN PAGE RESPONSIVE */

.reactive-button.resp {
  display: flex;
  justify-content: center;
  /* height: 40px; */
  width: 100%;
}

.reactive-button.resp .list-main.resp {
  gap: 4px;
  /* width: 100%; */
  margin: 5px;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.list-main.resp .an {
  padding: 7px;
  background-color: #87A922;
  border-radius: 2px;
  border: 1px solid white;
  color: rgb(255, 255, 255);
  /* font: 25px; */
  text-decoration: none;
  transition: 0.4s;
}

.list-main.resp .an:hover {
  border: 1px solid rgb(255, 255, 255);
  color: rgb(255, 255, 255);
  background-color: #495b12;
}

/*  */


@media screen and (max-width: 900px) {
      .about {
        height: 80vh;
      }
}

@media screen and (max-width: 700px) {
  .about {
    height: 60vh;
  }
  .nav-gt {
    display: none;
  }
  .hamburger {
    display: flex;
  }
}

@media screen and (max-width: 500px) {
  .about {
    height: 50vh;
  }
  .main-img-bg {
    width: 100%;
  }
}

/* @media screen and (min-width: 700px) {
  COMMAND
} */
